<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["title"] | Bookstore</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <a class="navbar-brand" href="/">
                <img src="~/images/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="logo" asp-append-version="true">
            </a>
            <a class="navbar-brand" href="/">Book Store</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="home" asp-action="index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="home" asp-action="aboutus">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="book" asp-action="getallbooks">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="book" asp-action="addbook">Add Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="home" asp-action="contactus">Contact</a>
                    </li>

                </ul>
                <span class="navbar-text">
                    <ul class="navbar-nav mr-auto">
                        <partial name="_LoginInfo" />
                        @*<li class="nav-item">
                            <a class="nav-link" asp-controller="account" asp-action="login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="account" asp-action="signup">Sign Up</a>
                        </li>*@
                    </ul>
                </span>

            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            <span class="text-muted">Copyright &copy; Shubh Priyam @DateTime.Now.Year</span>
        </div>
    </footer>

</body>
</html>
