@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager

@if (_signInManager.IsSignedIn(User))
{
<li class="nav-item">
    Hello &nbsp;
</li>
    <li class="nav-item dropdown">
        <span class="drophover">@User.Identity.Name</span>
        <div class="dropdown-content">
            <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
            <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">Change password</a>
        </div>

        @*<div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
                <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">Change password</a>
          </div>*@
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="account" asp-action="login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="account" asp-action="signup">Sign Up</a>
    </li>
}

