@{
    ViewData["Title"] = "Contact Us";
}

<div class="container">
    <div class="modal-title">
        <h2>Contact us</h2>
    </div>
    <form method="post" asp-controller="home" asp-action="contactus">
        <div class="form-group">
            <label>Name</label>
            <input type="text" placeholede="Your name" class="form-control">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" placeholede="Your email" class="form-control">
        </div>
        <div class="form-group">
            <label>Subject</label>
            <input type="text" placeholede="Enter subject" class="form-control">
        </div>
        <div class="form-group">
            <label>Message</label>
            <textarea placeholede="Your message" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="submit" class="btn  btn-outline-primary">
        </div>
    </form>    
</div>

