
@{
    ViewData["Title"] = "Home";
}

<div>
    <div class="bg-image"
         style="background-image: url('/images/bg.jpg'); height: 600px; width: 100%; background-position: center; background-repeat: no-repeat; background-size: cover; ">
        <div class="text-center" style="padding-top:200px">
            <div class="jumbotron text-center">
                <h1>Welcome to the Book Store</h1>
                <hr class="my-4">
                <p class="lead">
                    <a class="btn btn-dark btn-lg" asp-controller="book" asp-action="getallbooks" role="button">Search Books</a>
                </p>
            </div>
        </div>
    </div>
</div>
